@media (min-width: 1850px)
  .content
    width: 1360px

  .main-pic
    padding: 32px 60px 32px 60px
    background: url('images/main_pic_1920.png') 50% 50% no-repeat
    background-size: cover
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2)
      background: url('images/main_pic_1920@2x.png') 50% 50% no-
      background-size: cover

  .text-box
    padding: 64px 60px 64px 60px
    &--upper
      position: relative

  .upper-text__container
    &:before
      height: 214px

  .primary-text--methodology
    width: 1130px

@media (max-width: 1849px)
  .content
    width: 1220px

  .page__wrap
    background-image url(images/footer_bg.png) , url(images/svg/clouds_bg.svg) , none, linear-gradient(-180deg, #34c4f0 0, #1c90e2 100%)

  .main-pic
    padding-left: 60px
    height: 635px

  .related-head
    padding: 0 25px

  .related-list
    padding: 34px 25px 0

  .methodology-article
    padding-top: 23px
    padding-left: 141px
    &:before
      left: 20px

@media (max-width: 1370px)
  .content
    width: 980px

  .upper-text__container
    &:before
      top: 10px
      height: 305px
      background: url('images/left-side-1024.svg') center no-repeat
      background-size: cover

  .article-title
    font-size: 40px
    line-height: 56px
    font-weight: 600

  .article-text__item
    font-size: 24px
    line-height: 30px
    font-weight: 300
    margin-bottom: 42px

  .article-author
    font-size: 12px
    line-height: 16px
    font-weight: 300

  .ranking-info__text
    padding-right: 16px

  .main-pic
    height: 568px
    background-repeat no-repeat
    background-position right top
    padding: 32px 45px 45px 45px
    background: url('images/main_pic_1024.png') center no-repeat
    background-size: cover
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2)
      background: url('images/main_pic_1024@2x.png') center no-repeat
      background-size: cover

  .under-title
    margin-bottom: 32px

  .ranking-info__top
    align-items: flex-start

  .ranking-rest
    margin-top: 52px

  .ranking-rest--mrg
    margin-top: 84px

  .methodology-brands__img--yelp
    width: 84px
    height: 45px

  .methodology-brands__img--tripadvisor
    width: 103px
    height: 48px

  .methodology-brands__img--zagat
    width: 93px
    height: 22px

  .methodology-brands__img--jdpower
    width: 126px
    height: 18px

  .methodology-brands__img--the-port
    width: 168px
    height: 24px

  .related-head
    padding: 0 20px

  .related-list
    padding-left: 32px

  .related-list .col
    width: 49%

  .text-box.last
    padding-top: 41px

  .bottom-col
    width: 48%
    padding-right: 8px

  .text-box.last
    display: block

  .full-table
    td
      &:nth-child(3)
        width: 18%

  .primary-text--methodology
    width: 786px

@media (min-width: 1019px) and (max-width: 1370px)
  .ranking-info__title
    position: absolute
    margin-left: 90px

@media (max-width: 1019px)
  .content
    width: auto
    max-width: 740px

  .main-pic__mask
    height: 528px

  .article-title
    font-size: 32px
    line-height: 38px
    font-weight: 600

  .article-text__item
    font-size: 22px
    line-height: 30px
    font-weight: 300
    margin-bottom: 23px

  .article-author
    font-size: 12px
    line-height: 16px
    font-weight: 300

  .ranking-item
    flex-direction: column

  .ranking-info
    margin-bottom: 16px

  .ranking-rest
    display: flex
    flex-direction: row
    width: auto
    margin-top: 0
    padding: 16px

  .ranking-rest--mrg
    margin-top: 0

  .ranking-rest__text
    font-size: 12px
    line-height: 21px

  .ranking-info__text
    padding-right: 0

  .primary-text
    br
      display: none

  .ranking-rest__top
    margin-bottom: 5px

  .ranking-rest__img-container
    margin-right: 16px
    margin-bottom: 0

  .ranking-rest__info
    width: 246px

  .main-pic
    height: 540px
    padding: 32px 25px
    background-image url("images/main_pic_768.png")
    background-size: cover
    background-position center
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2)
      background-image url("images/main_pic_768@2x.png")
      background-size: cover

  .upper-text__container
    &:before
      top: 10px
      height: 403px
      background: url('images/left-side-780.svg') center no-repeat

  .upper-text
    font-size: 17px

  .top-menu__link
    margin: 0 10px

  .text-box
    padding: 31px 25px 44px 25px
    &--upper
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between
      padding-left: 25px

      .under-title
        width: 445px
        margin-bottom: 32px

      .main-text
        width: 100%

  .block-title
    margin-bottom: 32px

  .related-head
    padding: 0 20px

  .related-list
    padding-left: 21px

  .related-list .col
    width: 46%

  .methodology-article
    padding-left: 97px
    padding-right: 0
    padding-top: 23px
    &:before
      left: 8px
      top: 27px

  .methodology-title
    text-align: center

  .bottom-col
    width: 49%
    padding-right: 0px

  .text-box.last
    padding-top: 25px

  .full-table
    thead
      th
        &:nth-child(7),
        &:nth-child(8)
          display: none

    tbody
      td
        &:nth-child(2)
          width: 25%

        &:nth-child(3)
          width: 23%

        &:nth-child(7),
        &:nth-child(8)
          display: none

  .methodology__img
    margin-left: 8px

  .primary-text--methodology
    width: 586px

  .rate-block--methodology
    margin-left: 12px

  .methodology-brands
    flex-wrap: wrap
    justify-content: space-around

  .methodology-brands__img
    margin: 0 50px

  .methodology-brands__img--yelp
    width: 83px
    height: 40px
    margin-left: 10px

  .methodology-brands__img--tripadvisor
    width: 103px
    height: 48px

  .methodology-brands__img--zagat
    width: 93px
    height: 22px

  .methodology-brands__img--jdpower
    width: 126px
    height: 18px
    margin-top: 36px
    margin-right: 0

  .methodology-brands__img--the-port
    width: 168px
    height: 24px
    margin-top: 41px
    margin-left: 40px

@media (min-width: 759px)
  .mobile-only-close
    display: none

  .mobile-only-show
    display: none

@media (max-width: 759px)
  .content
    margin-left: 10px
    margin-right: 10px

  .top-logo
    display: none

  .mob-logo
    display: block
    width: 35px
    height: 38px

  .breadcrumbs__wrap
    white-space: nowrap

    max-width: 100%
    box-sizing border-box

  .breadcrumbs__item:last-child
    overflow: hidden
    text-overflow: ellipsis

  .article-title
    font-size: 25px
    line-height: 34px
    font-weight: 600

  .article-text__item
    min-width: 265px
    width: auto
    font-size: 17px
    line-height: 27px
    font-weight: 300
    margin-bottom: 22px

  .article-author
    font-size: 12px
    line-height: 16px
    font-weight: 300

  .text-box--days
    .primary-text
      margin-bottom: 0

  .main-pic
    height: 540px
    padding: 16px 12px 24px 12px
    background-image url("images/main_pic_768.png")
    background-size: cover
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2)
      background-image url("images/main_pic_768@2x.png")
      background-size: cover

  .main-pic__mask
    height: 530px
    background-image: linear-gradient(-180deg,rgba(0,0,0,0) 3%,rgba(0,0,0,1) 100%);

  .text-box
    padding: 32px 12px 32px 12px
    &--upper
      justify-content: center

      .under-title
        width: 100%

      .under-title
        font-size: 16px
        line-height: 28px
        font-weight: 200

      .main-text
        font-size: 14px
        line-height: 24px
        font-weight: 300

  .primary-title
    font-size: 20px
    padding-bottom: 22px
    line-height: 34px

  .upper-text__container
    padding-left: 0
    &:before
      display: none

  .upper-text
    font-size: 14px
    line-height: 28px
    margin-bottom: 26px

  .ranking-info__table
    td
      padding: 12px 8px
      font-size: 10px

  .ranking-rest
    flex-direction: column
    padding: 10px 10px 16px 10px

  .ranking-rest__img-container
    width: 100%
    height: auto
    margin-bottom: 8px

  .ranking-rest__img
    position: static
    width: 100%
    min-height: 100%

  .ranking-rest__info
    width: 100%

  .primary-text
    overflow: hidden

  .ranking-info
    width: auto

  .ranking-info__top
    align-items: flex-start

  .ranking-info__title-img
    top: 2px

  .ranking-info__subtitle
    font-size: 11px

  .ranking-info__title
    font-size: 18px
    line-height: 26px

  .text-box--methology
    padding-bottom: 20px

  .methodology-content__item
    flex-direction: column
    align-items: center

  .methodology__img
    margin-left: 0
    margin-bottom: 24px

  .rate-block--methodology
    margin-left: 0
    margin-bottom: 24px

  .primary-text--methodology
    width: 100%
    margin-bottom: 16px

  .methodology-brands
    margin-left: 0

  .methodology-brands
    flex-wrap: wrap
    justify-content: space-around

  .methodology-brands__img
    margin: 0

  .methodology-brands__img--yelp
    width: 83px
    height: 40px
    margin: 0 20px 25px 20px

  .methodology-brands__img--tripadvisor
    width: 90px
    height: 42px
    margin: 0 20px 25px 20px

  .methodology-brands__img--zagat
    width: 93px
    height: 22px
    margin: 0 10px 25px 10px

  .methodology-brands__img--jdpower
    width: 126px
    height: 18px
    margin: 0 10px 25px 10px

  .methodology-brands__img--the-port
    width: 168px
    height: 24px
    margin-bottom: 25px

  .cols__wrap
    flex-wrap wrap

  .bottom-col
    width: 100%

  .block-title
    font-size 26px
    line-height: 34px

  .main-article--table
    .block-title
      font-size 26px
      line-height: 34px

  .related-list
    padding-top: 19px
    padding-left: 17px
    flex-direction column

  .related-item__link
    line-height 27px

  .related-list .col
    width: 100%

  .related-item
    padding-bottom: 22px

  .related
    margin-top: 17px

  .show-table
    text-align center
    font-size: 12px
    color: $main_color
    letter-spacing: 0
    line-height: 22px
    margin: 0 auto
    display: block
    span
      border-bottom: 1px dotted $main_color
      margin-left: 8px
    &:hover
      span
        border-bottom: none

  .full-table
    thead
      th
        padding: 12px 16px
        font-size: 10px
        line-height: 14px
    tbody
      td
        font-size: 12px
        line-height: 14px
        &:first-child
          text-align: center
          font-size: 10px
          line-height: 14px

        &:nth-child(3)
          font-size: 12px
          line-height: 14px

        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6)
          font-size: 12px
          line-height: 14px

  .mobile-table
    width: 100%
    margin-bottom: 16px

  .methodology-article
    padding-top: 110px
    padding-left: 0

  .methodology-article:before
    left: 50%
    top: 18px
    margin-left: -31px

  .mobile-only-show
    display: block

  .mobile-only-close
    font-style: normal
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
    color: white
    text-decoration: none
    height: 41px
    text-transform: uppercase
    border-radius: 3px
    padding: 0 20px
    overflow: hidden
    font-size: 11px
    line-height: 41px
    font-weight bold
    position: fixed
    background-color $main_color
    top: 10px
    right: 25px
    .icon
      margin-right: 8px

  .colorful
    display block
    .breadcrumbs__item
      display inline-block

  .only_mob-crop
    width: 100px
    overflow: hidden
    white-space: nowrap
    display: inherit
    text-overflow: ellipsis
    vertical-align: top

  .main-article--table
    .breadcrumbs__item
      &:nth-child(3)
        overflow: hidden
        min-width: 90px

  .mobile-table
    width: 100%
    margin-bottom: 16px

  .mobile-only-close
    display: none
    font-style: normal
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
    color: white
    text-decoration: none
    height: 41px
    text-transform: uppercase
    border-radius: 3px
    padding: 0 20px
    overflow: hidden
    font-size: 11px
    line-height: 41px
    font-weight bold
    position: fixed
    background-color $main_color
    top: 10px
    right: 25px
    .icon
      margin-right: 8px

  .ranking-table
    .full-table__wrap
      display: none
    .mobile-only-show
      display: block

  .overflow-table.show
    padding: 20px 0 0 0
    margin-right: 15px
    margin-left: 15px
    margin-top: 45px
    .primary-text
      display: none
    .block-title
      font-size: 24px
      font-weight: 600
      margin-bottom: 20px
    .full-table__wrap
      display: block
      width: 100%
      overflow scroll
    .mobile-only-show
      display: none
    .mobile-only-close
      display: block
